body {
    background-color: #020911;
}
header {
    h1 {
        color: #fcf8eb;
        font: Bold 32pt montserrat;
        text-align: center;
    }
}
section {
    background: #fcf8eb;
    color: #039faa;
    font: bold 16pt montserrat;
    border-radius: 7px;
    padding: 12px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 16px #fcf8eb;
}
div {
    text-align: center;
    padding: 7px;
}
footer {
    color: #039faa;
    text-align: center;
    font-style: italic;
}
